<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Template Metal Prices Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<p>Good morning <span th:text="${name}">buddy</span>,</p>
<p>here are actual metal prices for <span th:text="${reportDate}">1.1.1970</span></p>
<div>
    <table style="background-color:#eee;border-collapse:collapse;">
        <thead>
        <tr th:style="'background-color:#000;color:white;width:50%;border:1px solid #000;text-align:center;'">
            <th>Metal</th>
            <th th:text="|Price in ${currency}|" />
        </tr>
        </thead>
        <tbody>
        <tr th:each="rates : ${metalRates}" th:style="'padding:5px;border:1px solid #000;text-align:center;'">
            <td th:text="${rates.key}" />
            <td th:text="${#numbers.formatCurrency(rates.value)}" />
        </tr>
        </tbody>
    </table>
</div>
<br>
<p>Have a nice day!</p>
<hr/>
</body>

</html>
